<div
  id="about"
  class="h-screen items-center flex flex-col justify-center max-lg:h-full"
>
  <p class="uppercase text-4xl mb-10">About Me</p>
  <p class="text-3xl w-3/5 break-keep mb-20 max-lg:text-2xl max-lg:w-full max-lg:text-center">
    I am an 18 year old Brazilian developer, Computer Science student and I am
    looking to build my career in software development, seeking to improve my
    skills and performance in coding. Here's the main technologies that I've
    been using:
  </p>
  <div class="flex flex-col items-center">
    <div
      class="flex items-center space-x-10 mb-6 max-lg:grid max-lg:grid-cols-3 max-lg:space-x-0 max-lg:gap-5"
    >
      @for (tech of primaryTechs; track $index) {
      <img
        (click)="openDialog(tech)"
        class="w-40 hover:scale-125 hover:duration-500 duration-500 cursor-pointer max-lg:w-20"
        src="{{ tech.img }}"
        alt="{{ tech.name }}"
      />
      }
    </div>
    <div
      class="flex space-x-8 max-lg:grid max-lg:grid-cols-6 grid-f max-lg:w-full max-lg:space-x-0 max-lg:gap-5"
    >
      @for (secTech of secondaryTechs; track $index) {
      <img
        (click)="openDialog(secTech)"
        class="w-20 hover:scale-125 hover:duration-500 duration-500 cursor-pointer max-lg:w-8"
        src="{{ secTech.img }}"
        alt="{{ secTech.name }}"
      />
      }
    </div>
  </div>
</div>
