<div class="project">
  <div class="">{{ project.title }}</div>

  <div class="">
    <swiper-container class="swiper-container" pagination="true" navigation="true">
      @for (image of project.images; track $index) {
      <swiper-slide class="swiper-slide">
        <img class="project-img" src="{{ image }}" alt="" />
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="">
    <a href="{{ project.doc }}" target="_blank" class="r">
      📄 Documentation
    </a>
    <a href="{{ project.deploy }}" target="_blank" [className]="
        project.deploy != ''
          ? ' '
          : ''
      " class="">🌐 Deploy</a>
  </div>
</div>