<div class="project-container">
  <div class="title">{{ project.title }}</div>
  <div class="middle-container">
    <swiper-container pagination="true" pagination-clickable="true" navigation="true" style="
        --swiper-pagination-bullet-inactive-color: rgb(150, 150, 150);
        --swiper-pagination-bullet-inactive-opacity: 1;
        --swiper-pagination-color:var(--secondary-color);
        --swiper-pagination-bullet-size: 8px;
        --swiper-navigation-color:var(--secondary-color);
        --swiper-navigation-size: 25px;
      " class="swiper-container" slides-per-view="1">
      @for (image of project.images; track $index) {
      <swiper-slide class="swiper-slide">
        <img class="project-img" src="{{ image }}" alt="" />
      </swiper-slide>
      }
    </swiper-container>
    <div class="right">
      <div class="descriptions">
        @for (description of project.description; track $index) {
        <div>
          {{ description }}
        </div>
        }
      </div>
      <div class="techs">
        @for (tech of project.techs; track $index) {
        <img (click)="openDialog(tech)" class="tech" src="{{ tech.img }}" alt="" />
        }
      </div>
    </div>
  </div>
  <div class="icons">
    <a href="{{ project.doc }}" target="_blank" class="click"> 📄Documentation </a>
    <a href="{{ project.deploy }}" target="_blank"
      [className]="project.deploy != '' ? 'click' : 'not-available'">🌐Deploy</a>
  </div>
</div>