<div
  class="flex items-center justify-center gap-32 text-center h-screen max-lg:flex-col max-lg:gap-10"
>
  <div>
    <p class="text-9xl mb-4 max-lg:text-6xl">Hi, I'm Willian 👋</p>
    <p class="text-secondary text-5xl mb-6 max-lg:text-4xl">
      < Full Stack Developer >
    </p>
    <div class="flex space-x-6 justify-center">
      @for (socialLink of socialLinks; track $index) {<a
        href="{{ socialLink.link }}"
        target="_blank"
        class="hover:scale-110 duration-150"
      >
        <img src="{{ socialLink.img }}" class="w-14 max-lg:w-10"
      /></a>
      }
    </div>
  </div>
  <img class="w-1/4 max-lg:w-64 rounded-3xl" src="{{ will }}" alt="" />
</div>
