<div class="container">
  <div class="left">
    <div class="title">Hi, I'm Willian 👋</div>
    <div class="sub-title">
      Software developer committed to building high-quality solutions using best practices and cutting-edge technologies.
    </div>
    <div class="social-medias">
      @for (socialLink of socialLinks; track $index) {<a href="{{ socialLink.link }}" target="_blank" class="">
        <img src="{{ socialLink.img }}" class="social-media" /></a>
      }
    </div>
  </div>
  <img class="img" src="{{ will }}" alt="img" />
</div>