.container {
  display: flex;
  align-items: start;
  font-size: 3em;
  justify-content: center;
}

.left {
  text-align: left;
}

.img {
  display: flex;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.sub-title {
  font-size: 0.5em;
}

.social-medias {
  gap: 0.3em;
  display: flex;
}

.social-media {
  width: 0.8em;
  opacity: 0.8;
}

.social-media:hover {
  scale: 1.15;
  transition: all 0.1s ease-in;
}
