.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 3em;
  padding: 0em 2em;
  align-content: center;
  @media not all and (min-width:1200px) {
    grid-template-columns: 1fr;
    font-size: 2.2em;
    gap: 1em;

  }
}

.left {
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.contrast {
  color: var(--secondary-color);
  font-weight: 700;
}

.img {
  display: flex;
  width: 8em;
  border-radius: 10px;
  justify-self: center;

  @media not all and (min-width: 1200px) {
    width: 6.5em;
  }
}

.social-medias {
  gap: 0.6em;
  display: flex;
  justify-content: center;
}

.social-media:hover {
  scale: 1.25;
  animation: linear 1s;
}