<div class="top-title">Projects</div>
<div class="projects">
  @for (project of projects; track $index) {
  <div class="project-container">
    <div class="top">
      <swiper-container
        pagination="true"
        pagination-clickable="true"
        style="
          --swiper-pagination-bullet-inactive-color: rgb(150, 150, 150);
          --swiper-pagination-bullet-inactive-opacity: 1;
          --swiper-pagination-bullet-size: 8px;
          --swiper-navigation-size: 25px;
        "
        navigation="true"
        class="swiper-container"
        slides-per-view="1"
      >
        @for (image of project.images; track $index) {
        <swiper-slide class="swiper-slide">
          <img class="project-img" src="{{ image }}" alt="" />
        </swiper-slide>
        }
      </swiper-container>
      <div class="middle-container">
        <div class="title">{{ project.title }}</div>
        <div class="description">{{ project.description }}</div>
        <div class="techs">
          @for (tech of project.techs; track $index) {
          <img
            (click)="openDialog(tech)"
            class="tech"
            src="{{ tech.img }}"
            alt=""
          />
          }
        </div>
      </div>
    </div>
    <div class="icons">
      <a href="{{ project.doc }}" target="_blank"> 📄Documentation</a>
      <a
        href="{{ project.deploy }}"
        target="_blank"
        [className]="project.deploy != '' ? 'click' : 'not-available'"
        >🌐Deploy</a
      >
    </div>
  </div>
  }
</div>
