<div
  id="projects"
  class="h-screen items-center w-full flex flex-col justify-center"
>
  <p class="uppercase text-4xl mb-10">Projects</p>
  @for (project of projects; track $index) {
  <div
    class="bg-quaternary flex text-tertiary text-4xl justify-between w-8/12 h-56 mb-10 max-lg:w-full"
  >
    <div
      class="flex items-end space-x-4 pl-8 w-1/2 bg-secondary bg-[length:100%_100%] bg-no-repeat  max-lg:bg-[length:200%_100%] bg-left"
      [ngStyle]="{ 'background-image': 'url(' + project.deployImg + ')' }"
    >
      <!-- @if (!project.deploy) {
      <a
        (click)="setError(project.title)"
        class="flex items-center cursor-pointer"
      >
        <img src="{{ eyeSvg }}" alt="" class="w-10" /> Deploy</a
      >} @else {
      <a href="{{ project.deploy }}" target="_blank" class="flex items-center">
        <img src="{{ eyeSvg }}" alt="" class="w-10" /> Deploy</a
      >
      } -->
      <a
        href="{{ project.code }}"
        target="_blank"
        class="max-lg:flex max-lg:flex-col max-lg:text-center hover:scale-110 duration-200"
        ><span class="font-black"> {{ devIcon }} </span>Code</a
      >
    </div>
    <div
      class="text-center w-1/2 bg-[length:100%_100%] bg-no-repeat justify-center items-center flex flex-col text-primary"
      [ngStyle]="{ 'background-image': 'url(' + project.codeImg + ')' }"
    >
      <div class="backdrop-blur-sm w-full flex flex-col h-full justify-center">
        <p class="">{{ project.title }}</p>
        <p class="">{{ project.subTitle }}</p>
      </div>
    </div>
  </div>
  }
</div>
