.container {
  position: fixed;
  backdrop-filter: blur(12px);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;

}

.wrapper {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  @media not all and (min-width:1200px) {
    width: 100%;

  }

}

.popup {
  background: var(--primary-color);
  position: fixed;

  @media not all and (min-width:1200px) {
    width: 100%;
  }
}

.close-btn {
  font-size: 5em;
  position: absolute;
  background: transparent;
  color: var(--tertiary-color);
  font-weight: 900;
  top: 0;
  right: 0.5em;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;

  @media not all and (min-width: 1200px) {
    font-size: 3em;
  }
}

.center {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 5em;
  gap: 2.5em;

  @media not all and (min-width:1200px) {
    flex-direction: column;
    height: 100%;
    text-align: center;
    gap: 2em;

  }
}

.img {
  width: 15em;
  height: 15em;

  @media not all and (min-width:1200px) {
    width: 5em;
    height: auto;
  }
}

.text {
  color: var(--tertiary-color);
  font-size: 2.25em;
  width: 24em;

  @media not all and (min-width:1200px) {
    width: 100vw;
    font-size: 2em;
    padding: 0 2em;
  }
}