<div class="fixed backdrop-blur-md inset-0">
  <div class="items-center w-screen h-screen flex justify-center max-lg:w-full">
    <div class="bg-primary fixed max-sm:mx-0 max-lg:my-20 max-lg:w-full">
      <button
        (click)="closeDialog()"
        class="text-9xl absolute text-tertiary font-black right-10 cursor-pointer select-none outline-none border-none"
      >
        &times;
      </button>
      <div
        class="flex items-center h-full justify-center p-20 gap-10 max-lg:flex-col max-lg:text-center max-lg:h-full max-lg:w-full max-lg:gap-4"
      >
        <img src="{{ img }}" class="w-96 h-96 max-lg:w-52 max-lg:h-52" alt="" />
        <div
          class="text-tertiary text-4xl w-96 max-lg:text-3xl max-lg:w-screen"
        >
          {{ text }}
        </div>
      </div>
    </div>
  </div>
</div>
