.container {
  position: fixed;
  backdrop-filter: blur(12px);
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

.wrapper {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.popup {
  background: var(--primary-color);
  position: fixed;
}

.close-btn {
  font-size: 5em;
  position: absolute;
  background: transparent;
  color: var(--tertiary-color);
  font-weight: 900;
  right: 0.5em;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  @media not all and (min-width: 1200px) {
    font-size: 5em;
    right: 1.2em;
  }
}

.center {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  padding: 5em;
  gap: 2.5em;
  @media not all and (min-width: 1200px) {
    flex-direction: column;
  }
}

.img {
  width: 24em;
  height: 24em;
  @media not all and (min-width: 1200px) {
    width: 12em;
    height: 12em;
  }
}

.text {
  color: var(--tertiary-color);
  font-size: 2.25em;
  width: 24em;
  @media not all and (min-width: 1200px) {
    font-size: 1em;
  }
}
