<div class="container">
    <p class="text">
        In my view, what matters in a professional is the ability to adapt and the desire to learn, so I don't think
        technologies matter that much in the end, but here's a list of some that I use most if you want to take a look.
    </p>
    <div class="techs">
        <div class="">
            @for (tech of primaryTechs; track $index) {
            <img (click)="openDialog(tech)" class="pri-img" src="{{ tech.img }}" alt="{{ tech.name }}" />
            }
        </div>
        <div class="">
            @for (secTech of secondaryTechs; track $index) {
            <img (click)="openDialog(secTech)" class="sec-img" src="{{ secTech.img }}" alt="{{ secTech.name }}" />
            }
        </div>
    </div>
</div>