<div
  id="about"
  class="h-screen items-center text-center flex flex-col justify-center text-5xl max-lg:h-full"
>
  <p class="uppercase text-4xl mb-10">Skills</p>
  <div class="flex gap-20 max-lg:flex-col max-lg:m-10 max-lg:w-full max-lg:items-center">
    @for (skill of skills; track $index) {
    <div class="h-screen container max-lg:w-1" id="skills">
      <div class="card">
        <div
          class="front"
          [ngStyle]="{ 'background-image': 'url(' + skill.titleBg + ')' }"
        >
          <p
            class="text backdrop-blur-sm h-full w-full items-center justify-center flex"
          >
            {{ skill.title }}
          </p>
        </div>
        <div class="back">
          <p
            class="text text-3xl break-keep h-full w-full items-center justify-center flex"
          >
            {{ skill.desc }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
