<div
  class="h-screen items-center text-center flex flex-col justify-center text-5xl max-lg:px-10 max-lg:pb-10 max-lg:pt-2"
>
  <p class="uppercase text-4xl mb-10 max-lg:mb-5">Skills</p>
  <div class="flex gap-20 max-lg:flex-col max-lg:overflow-auto">
    <div
      class="container max-lg:px-5"
      *ngFor="let skill of skills; let i = index"
    >
      <div class="card">
        <div
          class="front"
          [ngStyle]="{ 'background-image': 'url(' + skill.titleBg + ')' }"
        >
          <p
            class="text backdrop-blur-sm h-full w-full items-center justify-center flex"
          >
            {{ skill.title }}
          </p>
        </div>
        <div class="back">
          <p
            class="text text-3xl break-keep h-full w-full items-center justify-center flex"
          >
            {{ skill.desc }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
